.bu-dropdown
  position: relative

.bu-dropdown-body
  display: none
  position: absolute
  left: 0
  top: 100%
  z-index: 1000
  margin-top: 10px
  border-radius: $radius
  background: $white
  box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1)
  &.bu-is-right
    left: auto
    right: 0
